doctype
html
	head
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="Style.css")
	body
		include includes/header.pug
		div.logo
		input.search(type="text" name="search" placeholder="Поиск")
		div.topnav#myTopnav
			a(href="main.html") Главная
			a(href="gun.html") Винтовки
			a(href="") Доп2
			a(href="") Доп3
			a(href="") Доп4
		ul.filter
			h3 Фильтры
			li.list Цена
			li.list Производитель
			li.list Цвет
			li.list Сборка
			li.list Длина
			li.list Нагрузка
			li.list Тип
			li.list Вес
			li.list Материал
			li.list Вид рыбалки
			li.list Сортировка
		div.row
			div.column
				div.content
					img(src="hunting3.jpg")
					h3 Product
					p Lorem Ipsum..
				div.content
					img(src="hunting3.jpg")
					h3 Product
					p Lorem ipsum..
				div.content
					img(src="hunting3.jpg")
					h3 Product
					p Lorem ipsum..
				div.content
					img(src="hunting3.jpg")
					h3 Product
					p Lorem ipsum..
				div.content
					img(src="hunting3.jpg")
					h3 Product
					p Lorem ipsum..
		div.row
			div.column
				div.content
					img(src="hunting3.jpg")
					h3 Product
					p Lorem Ipsum..
				div.content
					img(src="hunting3.jpg")
					h3 Product
					p Lorem ipsum..
				div.content
					img(src="hunting3.jpg")
					h3 Product
					p Lorem ipsum..
				div.content
					img(src="hunting3.jpg")
					h3 Product
					p Lorem ipsum..
				div.content
					img(src="hunting3.jpg")
					h3 Product
					p Lorem ipsum..
			div.row
			div.column
				div.content
					img(src="hunting3.jpg")
					h3 Product
					p Lorem Ipsum..
				div.content
					img(src="hunting3.jpg")
					h3 Product
					p Lorem ipsum..
				div.content
					img(src="hunting3.jpg")
					h3 Product
					p Lorem ipsum..
				div.content
					img(src="hunting3.jpg")
					h3 Product
					p Lorem ipsum..
				div.content
					img(src="hunting3.jpg")
					h3 Product
					p Lorem ipsum..
		img.pub(src="banner.jpg")
		ul.pager
			li.previous
				a(href="gun2.html") Предыдущая
		footer
			div.foot
				img(src="viber.png")
				img(src="facebook.png")
				img(src="whatsapp.png")