doctype
html
	head
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="Style.css")
	body
		header
			div.head
					a.sale.point(href="Sale.pug") Скидки
					a.contacts.point(href="Contacts.pug") Контакты
					a.sadok.point(href="Sadok.pug") Садок
					div.tel1 +380664588745
					div.tel2 +380633980957
		div.logo
		div.buttons
			a.fishing(href="fishing.html") 
				img(src="fishing.jpg")
			a.hunting(href="hunting.html") 
				img(src="hunting.jpg")
		div.sadokforum
			a(href="Sadok.pug")
		footer
			div.foot
				img(src="viber.png")
				img(src="facebook.png")
				img(src="whatsapp.png")